# Exploring with Pandas and SAV files

1. Explore Endes `RECH1.SAV` file. It is located in this path `Diplomado_PUCP/_data/endes/2015/RECH1.SAV`.

In [8]:
import pandas as pd

In [ ]:
import pyreadstat

# Replace 'your_file.sav' with the path to your SPSS file
file_path = '/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/2015/RECH1.SAV'

# Read the SPSS file
df, meta = pyreadstat.read_sav(file_path)

# Display the data
print("Data:")
print(df.head())

# Display the metadata
print("\nMetadata:")
print(meta)

In [ ]:
meta.variable_value_labels

In [ ]:
meta.column_names_to_labels

2. Import all the RECH1.SAV files from all the subfolder located in this folder. `Diplomado_PUCP/_data/endes`

Doing one by one

In [ ]:
import numpy as np

np.arange(2015, 2020)

df2015 = pd.read_spss('/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/2015/RECH1.SAV')

df2015.loc[ :, 'year_sample'] = 2015

df2016 = pd.read_spss('/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/2016/RECH1.SAV')

df2016.loc[ :, 'year_sample'] = 2016

df2017 = pd.read_spss('/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/2017/RECH1.SAV')

df2017.loc[ :, 'year_sample'] = 2017

In [13]:
# append data
df_app = pd.concat([df2015, df2016, df2017])

Using a loop

In [ ]:
import pandas as pd

years = np.arange(2015, 2020)
dfs = []

for year in years:
    file_path = f'/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/{year}/RECH1.SAV'
    df = pd.read_spss(file_path)
    df['year_sample'] = year
    dfs.append(df)

# Concatenate the DataFrames for different years into a single DataFrame
result_df = pd.concat(dfs, ignore_index=True)

In [ ]:
result_df

In [ ]:
import os
import glob
# If you need to read .SAV files, you might need a library like pyreadstat
import pyreadstat

Step 3: Navigating Directories and Finding Files
You can use os and glob libraries to navigate through directories and find files. Here's a basic way to do it:

In [ ]:
def find_sav_files(base_path):
    # This pattern will match any RECH1.SAV files in subdirectories of the base path
    pattern = os.path.join(base_path, '**', 'RECH1.SAV')
    
    # glob.glob will return a list of file paths matching the pattern
    # recursive=True allows searching in subdirectories
    return glob.glob(pattern, recursive=True)

base_path = 'Diplomado_PUCP/_data/endes'
sav_files = find_sav_files(base_path)
print("Found .SAV files:", sav_files)

Step 4: Reading .SAV Files
If you need to read data from these .SAV files, you can use pyreadstat. Here's a simple way to do it:

In [ ]:
def read_sav_file(file_path):
    df, meta = pyreadstat.read_sav(file_path)
    return df  # df is a DataFrame containing the data from the .SAV file

# Example of reading the first found .SAV file
if sav_files:
    first_file_data = read_sav_file(sav_files[0])
    print(first_file_data)

In [1]:
import pandas as pd

1. We have data `MotherData.csv` excerpted from a recent Demographic and Health Survey.  First convert the dataset from `wide` (each observation is a mother) to `long` (each observation is a birth, with associated mother id). The id `caseid` identifies uniquely all the mothers.  These columns refer to variable of children **['bidx', 'bord', 'b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b15', 'b16']** and have new columns for all their children. We have information for 20 children. It starts from last child to oldest one. Use for loops to reshape this dataset from `wide` to `long` ate mother and children level. If you want to get more information from the columns please see [this pdf](http://www.dhsprogram.com/pubs/pdf/DHSG4/Recode6_DHS_22March2013_DHSG4.pdf).

Max number of children is 20. We want data at mother, child level. From children, we only want month (b1) and year (b2) of birth (b4), and sex and have data

In [16]:
df_mother = pd.read_csv('../_data/MotherData.csv')

/var/folders/r4/lwrzx5hs7d3cxk4p5zsy7zqh0000gp/T/ipykernel_27652/1107978888.py:1: DtypeWarning: Columns (67,128,129,130,131,132,133,208,209,210,211,212,213,228,229,230,231,232,233,240,241,245,247,248,249,250,308,309,310,311,312,313,328,329,330,331,332,333,387,388,389,390,391,392,407,408,409,410,411,412,426,428,429,430,431,433) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mother = pd.read_csv('../_data/MotherData.csv')

In [35]:
reshaped_data = []
# Iterate through each row in the dataframe
for index, row in df_mother.iterrows():
    caseid = row['caseid']
    # Iterate over the 20 sets of columns
    for i in range(1, 21):
        bord_col = f'bord_{i:02d}'
        b1_col = f'b1_{i:02d}'
        b2_col = f'b2_{i:02d}'
        b4_col = f'b4_{i:02d}'
        
        # Check if bord_col is NaN, and if so, continue to the next iteration
        if pd.isna(row[bord_col]):
            continue
        
        # Append the reshaped row to the list
        reshaped_data.append({
            'caseid': caseid,
            'bord': row[bord_col],
            'b1': row[b1_col],
            'b2': row[b2_col],
            'b4': row[b4_col]
        })

# Convert the list to a dataframe
reshaped_df_mother = pd.DataFrame(reshaped_data)
print(reshaped_df_mother)

                caseid  bord    b1      b2      b4
0           1  1     2   7.0   3.0  2010.0    male
1           1  1     2   6.0  11.0  2006.0  female
2           1  1     2   5.0   1.0  2004.0  female
3           1  1     2   4.0   3.0  1999.0  female
4           1  1     2   3.0   6.0  1996.0  female
...                ...   ...   ...     ...     ...
19639     240 23     2   1.0   6.0  2007.0  female
19640     240 24     2   4.0  10.0  2010.0    male
19641     240 24     2   3.0  12.0  2007.0    male
19642     240 24     2   2.0   9.0  2005.0    male
19643     240 24     2   1.0   7.0  2000.0    male

[19644 rows x 5 columns]

In [36]:
reshaped_df_mother.sort_values( ['caseid', 'bord' ] )

                caseid  bord    b1      b2      b4
6           1  1     2   1.0  11.0  1987.0  female
5           1  1     2   2.0   6.0  1993.0  female
4           1  1     2   3.0   6.0  1996.0  female
3           1  1     2   4.0   3.0  1999.0  female
2           1  1     2   5.0   1.0  2004.0  female
...                ...   ...   ...     ...     ...
19639     240 23     2   1.0   6.0  2007.0  female
19643     240 24     2   1.0   7.0  2000.0    male
19642     240 24     2   2.0   9.0  2005.0    male
19641     240 24     2   3.0  12.0  2007.0    male
19640     240 24     2   4.0  10.0  2010.0    male

[19644 rows x 5 columns]

In [39]:

# Use pandas wide_to_long function
df_mother_long = pd.wide_to_long(df_mother, stubnames=['bord', 'b1', 'b2', 'b4'], i='caseid', j='index', sep='_', suffix='\\d+')

# Reset the index to get a flat dataframe
df_mother_long = df_mother_long.reset_index()

# Drop rows where 'bord' is NaN
df_mother_long = df_mother_long.dropna(subset=['bord'])

In [41]:
df_mother_long.loc[ :, ['caseid', 'bord', 'b1', 'b2', 'b4']].sort_values( ['caseid', 'bord' ] )

                caseid  bord    b1      b2      b4
38064       1  1     2   1.0  11.0  1987.0  female
31720       1  1     2   2.0   6.0  1993.0  female
25376       1  1     2   3.0   6.0  1996.0  female
19032       1  1     2   4.0   3.0  1999.0  female
12688       1  1     2   5.0   1.0  2004.0  female
...                ...   ...   ...     ...     ...
6341      240 23     2   1.0   6.0  2007.0  female
25374     240 24     2   1.0   7.0  2000.0    male
19030     240 24     2   2.0   9.0  2005.0    male
12686     240 24     2   3.0  12.0  2007.0    male
6342      240 24     2   4.0  10.0  2010.0    male

[19644 rows x 5 columns]